{% extends 'base.html.twig' %}

{% block title %}{{ specUser.username }}{% endblock %}

{% block body %}
    <main class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('img/avatar/'~specUser.imageName) }}" alt="{{ specUser.firstName }} {{ specUser.lastName }}" class="profile-img">
            </div>
            <div class="col-md-4">
                <h2>{{ specUser.firstName }} {{ specUser.lastName }}</h2>
                <p>Email: {{ specUser.email }}</p>
                <p>Création du compte: {{ specUser.createdAt|date('d/m/Y') }}</p>
                <p>Status:
                    {% for role in specUser.roles %}
                        {{ role | capitalize | replace({'_': ' '}) }}
                    {% endfor %}
                </p>
                {% if (app.user.id != specUser.id) %}
                <div class="my-3">
                    <a href="{{ path('app_profile_likes',{username:specUser.username}) }}" class="btn btn-dark">Voir ses likes</a>
                </div>
                {% elseif ((app.user.id == specUser.id) or (is_granted('ROLE_SUPER_ADMIN'))) %}
                    <p>Mise à jour du compte: {{ app.user.updatedAt|date('d/m/Y') }}<p>
                    <div class="my-3">
                        <a href="{{ path('app_profile_likes',{username:specUser.username}) }}" class="btn btn-dark">Voir les likes</a>
                        <a href="{{ path('app_profile_edit',{username:specUser.username}) }}" class="btn btn-dark">Modifier le compte</a>
                    </div>
                {% endif %}
            </div>
            {% if ((app.user.id == specUser.id) or (is_granted('ROLE_SUPER_ADMIN'))) %}
            <div class="col-md-4">
                <h2>Commandes</h2>
                {% if specUser.invoices is not empty %}
                {% for invoice in specUser.invoices %}
                    - N° <a href="{{ path('app_order_detail',{id:invoice.id}) }}">{{ invoice.id }}</a>
                {% endfor %}
                {% else %}
                    <p>Il n’y a actuellement aucune commande</p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
