{% extends 'base.html.twig' %}

{% block title %} Likes {{ parent() }} {% endblock %}

{% block body %}

    <main class="container">
        <!-- Tableau -->
        <section>
            <h2 class="my-5 text-black-50">Like de {{ user.username }}</h2>
            <div class="row">
                {% if likes is not empty %}
                {% for like in likes %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img alt="picture '{{ like.painting.id }}'" src="{{ asset('img/tableau/' ~ like.painting.imageName) }}" class="p-1" style="height: 300px; width: 100%">
                            <div class="card-body">
                                <h5 class="card-title text-dark">{{ like.painting.title|capitalize }}</h5>
                                <p class="card-text">Création: {{ like.painting.makedAt|date('d/m/Y') }}</p>
                                <p>Catégorie: {{ like.painting.category.name|capitalize }}</p>
                                <div class="d-flex justify-content-between">
                                    {% if like.painting.id not in app.session.get('panier') | keys%}
                                        <a href="{{ path('app_cart_add', {slug:like.painting.slug}) }}" class="btn btn-success btn-sm"><i class="icofont-shopping-cart mr-1"></i> Ajouter</a>
                                    {% else %}
                                        <a href="{{ path('app_cart_delete', {id:like.painting.id}) }}" class="btn btn-danger btn-sm"><i class="icofont-shopping-cart mr-1"></i> Supprimer</a>
                                    {% endif %}
                                    <a href="{{ path('detail', {slug:like.painting.slug}) }}" class="btn btn-secondary btn-sm">En savoir plus...</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    {% if user == app.user %}
                        <h4>Vous n'avez pas encore de like</h4>
                    {% else %}
                        <h4>{{ user.username }} n'a pas encore de like</h4>
                    {% endif %}
                {% endif %}
            </div>
        </section>
        <!-- End Tableaux -->
    </main>
{% endblock %}