{% extends 'base.html.twig' %}

{% block title %}Modification {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="display-4 my-4">Modifier mon profile</h2>
                {{ form_start(editForm) }}
                {{ form_widget(editForm) }}
                <br>
                <button type="submit" class="btn btn-outline-secondary">Modifier</button>
                {{ form_end(editForm) }}
            </div>
        </section>
    </div>



{% endblock %}
