{% extends 'base.html.twig' %}

{% block title %}About {{ parent() }}{% endblock %}

{% block body %}
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">À propos de nous</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi ipsam nesciunt possimus
                voluptatum! Aperiam ipsam magni repudiandae vero voluptas?</p>
            <p class="lead mb-4">Accusantium aut debitis distinctio est ipsam perspiciatis sequi similique suscipit veniam voluptatibus.
                Enim magni maxime necessitatibus odit sequi? Alias, ipsa.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Nous contacter</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Toutes les formations</button>
            </div>
        </div>
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide text-center carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="rounded-circle shadow-1-strong mb-4"
                     src="{{ asset('img/about/about1.jpg') }}" alt="avatar"
                     style="width: 150px;" />
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h5 class="mb-3">Marie DeCruy</h5>
                        <p>Artiste</p>
                        <p class="text-muted">
                            <i class="fas fa-quote-left pe-2"></i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto dolores modi nisi officia officiis voluptatibus. A atque culpa in iusto magnam, maxime, minima nesciunt perferendis, quis reiciendis unde voluptate.
                        </p>
                    </div>
                </div>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0 sizeIcon">
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                </ul>
            </div>
            <div class="carousel-item">
                <img class="rounded-circle shadow-1-strong mb-4"
                     src="{{ asset('img/about/about3.jpg') }}" alt="avatar"
                     style="width: 150px;" />
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h5 class="mb-3">John Doe</h5>
                        <p>Community Manager</p>
                        <p class="text-muted">
                            <i class="fas fa-quote-left pe-2"></i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eaque et eveniet, expedita modi nemo nesciunt numquam totam ullam? Recusandae?
                        </p>
                    </div>
                </div>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0 sizeIcon">
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                </ul>
            </div>
            <div class="carousel-item">
                <img class="rounded-circle shadow-1-strong mb-4"
                     src="{{ asset('img/about/about2.jpg') }}" alt="avatar" style="width: 150px;" />
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h5 class="mb-3">Anna Deynah</h5>
                        <p>Ressource Humaine</p>
                        <p class="text-muted">
                            <i class="fas fa-quote-left pe-2"></i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci assumenda, dolore fugit officiis tempora. Explicabo facere harum maxime optio quidem reiciendis vel! Dicta itaque molestiae neque nisi, praesentium ratione repudiandae soluta totam ut voluptas?
                        </p>
                    </div>
                </div>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0 sizeIcon">
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                    <li><i class="icofont-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}