{% extends 'base.html.twig' %}

{% block title %}Panier {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row border rounded pt-5 pb-5 shadow bg-dark bg-gradient">
            <div class="col-md-8">
                <div class="p-2">
                    <h4>Panier</h4>
                </div>
                {% if not carts is empty %}
                {% for cart in carts %}
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <div class="mr-1">
                        <img class="rounded" src="{{ asset('img/tableau/'~cart.painting.imageName) }}" width="70" alt="">
                    </div>
                    <div class="d-flex flex-column align-items-center product-details">
                        <span class="font-weight-bold">{{ cart.painting.title }}</span>
                    </div>
                    <div>
                        <h5 class="text-grey">{{ cart.painting.price|format_currency('EUR') }}</h5>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="{{ path('app_cart_delete',{id:cart.painting.id}) }}"><i class="icofont-trash mb-1 text-danger"></i></a>
                    </div>
                </div>
                {% endfor %}

                <div class="d-flex justify-content-between align-items-center mt-3 p-2 bg-white rounded">
                    <span class="text-grey">Total: {{ total|format_currency('EUR') }}</span>
                    <a href="{{ path('app_cart_buy') }}" class="btn btn-outline-dark btn-block btn-lg ml-2 pay-button" type="button">Acheter</a>
                </div>
                {% else %}
                    <p>Votre panier est vide</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
