{% extends 'base.html.twig' %}

{% block title %}Teams{{ parent() }}{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <div class="container">
        <h2 class="my-5 text-black-50">Teams</h2>
        <div class="row">
            <div class="col-md-3 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="text-center">Director</h5>
                    </div>
                    <img src="{{asset('img/avatar/042m.jpg')}}" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Barrett Williamson</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="text-center">Web Programmer</h5>
                    </div>
                    <img src="{{asset('img/avatar/011m.jpg')}}" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Rod Watsica</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="text-center">Graphics</h5>
                    </div>
                    <img src="{{asset('img/avatar/010f.jpg')}}" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Amina Torphy</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="text-center">Web security</h5>
                    </div>
                    <img src="{{asset('img/avatar/019f.jpg')}}" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Beyonce Jackson</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="text-center">Scientist Data</h5>
                    </div>
                    <img src="{{asset('img/avatar/025m.jpg')}}" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}