{% extends 'admin/base.html.twig' %}

{% block title %}Paintings {{ parent()}} {% endblock %}
{% block body %}
    <h4 class="my-5 text-muted">Gestion des tableaux</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Height</th>
            <th>Width</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Technique</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for painting in paintings %}
            <tr>
                <td><img src="{{ asset('img/tableau/' ~ painting.imageName) | imagine_filter('painting_image')}}" alt="{{painting.title}}" class="img-fluid" style="height: 5rem;"></td>
                <td><a href="{{ path('detail', {slug:painting.slug}) }}" class="text-decoration-none" target="_blank">{{painting.title|capitalize}}</a></td>
                <td>{{ painting.author}}</td>
                <td>{{ painting.createdAt|date('d/m/Y')}}</td>
                <td>{{ painting.height}}cm</td>
                <td>{{ painting.width}}cm</td>
                <td>{{ painting.price|format_currency('EUR') }}</td>
                <td>{{ painting.category.name|capitalize }}</td>
                <td>{{ painting.technical.name|capitalize }}</td>
                <td>
                    <a href="{{ path('app_admin_painting_edit', {id:painting.id}) }}" class="btn btn-success"><i class="icofont-ui-edit"></i></a>&nbsp;
                    <a href="{{ path('app_admin_painting_delete', {id:painting.id}) }}" class="btn btn-danger"><i class="icofont-ui-delete"></i></a>&nbsp;
                    <a href="{{ path('app_admin_painting_view', {id:painting.id}) }}" class="btn btn-light">
                        {% if painting.isPublished %}
                            <i class="icofont-eye-open"></i>
                        {% else %}
                            <i class="icofont-eye-blocked"></i>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}