{% extends 'admin/base.html.twig' %}

{% block title %}Paintings {{ parent()}} {% endblock %}
{% block body %}
    <h4 class="my-5 text-muted">Gestion des commandes</h4>
    <section class="h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                            <h5 class="text-muted mb-0">Commande N° {{ orders.id }}</h5>
                            <div class="d-flex justify-content-center pt-2">
                                <p class="fw-bold mb-0">Detail de l'achat</p>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                                <p class="text-muted mb-0">Prénom: {{ orders.user.firstName }}</p>
                                <p class="text-muted mb-0">Facture N° : {{ orders.id }}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted mb-0">Nom: {{ orders.user.lastName }}</p>
                                <p class="text-muted mb-0">Date facture : {{ orders.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
                            </div>
                        </div>

                        <div class="card-body p-4">
                            {% for invoice in orders.orders %}
                                <div class="card shadow-0 border mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="{{ asset('img/tableau/'~ invoice.painting.imageName) }}"
                                                     class="img-fluid" alt="{{ invoice.painting.title }}">
                                            </div>
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0">{{ invoice.painting.title }}</p>
                                            </div>
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">Auteur: {{ invoice.painting.author }}</p>
                                            </div>
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">création: {{ invoice.painting.makedAt|date('d/m/Y') }}</p>
                                            </div>
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">Quantité: {{ invoice.quantity }}</p>
                                            </div>
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">Prix: {{ invoice.painting.price|format_currency('EUR') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="card-footer border-0 px-4 py-5 d-flex align-items-center justify-content-between"
                             style="background-color: #333; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                            <h5 class="text-white mb-0">Télécharger la <a href="{{ path('app_order_pdf',{id:orders.id}) }}">facture</a></h5>
                            <h5 class=" text-white text-uppercase mb-0">Prix total: <span class="mb-0 ms-2">{{ total|format_currency('EUR') }} TVAC</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}