{% extends 'admin/base.html.twig' %}

{% block title %}Paintings {{ parent()}} {% endblock %}
{% block body %}
    <h4 class="my-5 text-muted">Gestion des commandes</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th>Numéro</th>
            <th>User</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('app_admin_order_detail',{id:order.id}) }}">{{ order.id}}</a></td>
                <td>{{ order.user.username}}</td>
                <td>{{ order.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}