<header>
{# Navbar #}
{% block navbar %}
    <nav class="navbar sticky-top navCustom navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Gallery</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('team') }}">Team</a>
                    </li>
                </ul>
                <div class="d-flex">
                    {% if not app.user %}
                    <a href="{{ path('app_login') }}" class="btn btn-dark btn-sm"><i class="icofont-sign-in"></i> Se connecter</a>
                    <a href="{{ path('app_registration') }}" class="btn btn-dark btn-sm"><i class="icofont-user-alt-4"></i> S'enregistrer</a>
                    {% else %}
                        <div class="dropdown" style="padding-right: 25px;">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{asset('img/avatar/') ~ app.user.imageName }}" class="img-avatar" alt="{{ app.user.username }} profil img">&nbsp;&nbsp;{{ app.user.firstName }} {{ app.user.lastName }}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('app_profile',{username:app.user.username}) }}" class="dropdown-item"><i class="icofont-ui-user"></i> Voir profil</a></li>
                                <li><a href="{{ path('app_cart') }}" class="dropdown-item"><i class="icofont-cart"></i> Panier</a></li>
                                <li><a href="{{ path('app_message') }}" class="dropdown-item"><i class="icofont-ui-message"></i> Messagerie</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('app_admin_painting') }}" class="dropdown-item"><i class="icofont-barricade"></i> Administration</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                {% endif %}

                                <li><a href="{{ path('app_logout') }}" class="dropdown-item"><i class="icofont-logout"></i> Se déconnecter</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
    {{ render(controller('App\\Controller\\SliderController::slider')) }}
    {% for label,messages in app.flashes(['success','danger','warning']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
</header>