{% block slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% set firstSlide = sliders[0] %}
        {% for slider in sliders %}
            {% if firstSlide == slider %}
                <div class="carousel-item active">
                    <img src="{{ asset('img/slider/'~firstSlide.imageName ) | imagine_filter('slider_image') }}" class="d-block w-100" alt="...">
                </div>
            {% else %}
                <div class="carousel-item">
                    <img src="{{ asset('img/slider/'~slider.imageName) | imagine_filter('slider_image') }}" class="d-block w-100" alt="...">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}