a {
    text-decoration: none;
}

.img-avatar {
    width: 30px;
    border-radius: 50%;
}

.strong {
    font-weight: bold;
}

.unstrong {
    font-weight: initial;
}

/* Profil */
.profile-img {
    width: 80%;
    border-radius: 30%;
}


/*Panier*/

.size span {
    font-size: 11px;
}

.color span {
    font-size: 11px;
}

.product-deta {
    margin-right: 70px;
}

.gift-card:focus {
    box-shadow: none;
}

.pay-button {
    color: #a39f9f;
}

.pay-button:hover {
    color: #a39f9f;
}

.pay-button:focus {
    color: #a39f9f;
    box-shadow: none;
}

.text-grey {
    color: #a39f9f;
}

.qty i {
    font-size: 11px;
}

.sizeIcon{
    font-size: 2rem;
}

footer {
    margin-top: 60px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    color: #fff;
}

footer h4 {
    padding-bottom: 1.3rem;
}

footer a {
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: black;
}

/* Filterizer */
.filtr-item img {
    width: 100%;
    height: auto;
    /*filter: grayscale(100%);*/
}

.controls-filter {
    margin-bottom: 26px;
    color: red;
}

.img-news {
    width: 100px;
}

.img-news-home {
    width: 150px;
}

.img-avatar {
    width: 30px;
    border-radius: 50%;
}

.vich-image img {
    width: 200px;
}

/* Admin */
.admin-img {
    width: 40px;
}
/* Admin slider  */

.sliderAdminImg {
    border-radius: 2%;
    width: 60%;
}

