<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h4 class="my-5 text-muted">Options</h4>
            <div class="accordion" id="accordionExample">
                {# painting #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Les peintures
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <a href="{{ path('app_admin_painting') }}">Gestion des peintures</a><br>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('app_admin_painting_new') }}">Ajouter une peinture</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Les commentaires
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <a href="{{ path('app_admin_comment') }}">Gestion des commentaires</a><br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Les commandes
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <a href="{{ path('app_admin_order') }}">Gestion des commandes</a><br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Les messages
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <a href="{{ path('app_admin_message') }}">Gestion des messages</a><br>
                            <a href="{{ path('app_admin_message_send') }}">Envoyer un message</a>
                        </div>
                    </div>
                </div>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Les utilisateurs
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                                <a href="{{ path('app_admin_user') }}">Gestion des utilisateurs</a><br>
                                <a href="{{ path('app_admin_user_new') }}">Ajouter un utilisateur</a><br>
                            </div>
                        </div>
                    </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Les sliders
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <a href="{{ path('app_admin_slider') }}">Gestion des sliders</a><br>
                            <a href="{{ path('app_admin_slider_new') }}">Ajouter un slider</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">