{% extends 'base.html.twig' %}

{% block title %}Detail {{ parent() }}{% endblock %}

{% block body %}
    <main class="container">
        <section id="detail">
            <div class="d-flex justify-content-between align-items-center">
                <div><h2 class="my-5">
                        {{ painting.title|capitalize }}
                        {% if app.user %}
                            {% if not likeUser %}
                                <a href="{{ path('like', {slug:painting.slug}) }}" class="text-success"><i class="icofont-heart"></i></a>
                            {% else %}
                                <a href="{{ path('unlike', {slug:painting.slug,id:likeUser[0].id}) }}" class="text-danger"><i class="icofont-heart-beat"></i></a>
                            {% endif %}
                            {% if painting.id not in app.session.get('panier') | keys %}
                                <a href="{{ path('app_cart_add',{slug:painting.slug}) }}" class="text-info"><i class="icofont-shopping-cart"></i></a>
                            {% else %}
                                <a href="{{ path('app_cart_delete', {id:painting.id}) }}" class="text-danger"><i class="icofont-shopping-cart"></i></a>
                            {% endif %}
                        {% endif %}
                    </h2></div>
                <div><button class="btn btn-outline-info" onclick="history.back()">Retour</button></div>
            </div>

            <div class="tab-content my-4">
                <div class="tab-pane fade show active">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('img/tableau/' ~ painting.imageName) }}" alt="Image {{ painting.id }}" class="img-fluid">
                            <div class="pt-3">Likes:
                                <a href="{{ path('likes', {slug:painting.slug}) }}" class="color-a mr-5"> {{ likes|length }}</a>


                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5>Description</h5>
                            <p>{{ painting.description|capitalize }}</p>
                            <h5>Auteur</h5>
                            <p>{{ painting.author|upper }}</p>
                            <h5>Hauteur</h5>
                            <p>{{ painting.height }} cm</p>
                            <h5>Largeur</h5>
                            <p>{{ painting.width }} cm</p>
                            <h5>Catégorie</h5>
                            <p>{{ painting.category.name }}</p>
                            <h5>Technique</h5>
                            <p>{{ painting.technical.name }}</p>
                            <h5>Prix</h5>
                            <p>{{ painting.price|format_currency('EUR') }} TVAC</p>
                            <h5>Création</h5>
                            <p>{{ painting.makedAt|date('d/m/Y') }}</p>
                            <h5>Ajouté le</h5>
                            <p>{{ painting.createdAt|date('d/m/Y') }}</p>
                        </div>
                    </div>
                </div>
            </div>

            {% if not app.user %}
                <div class="mt-5" style="width: 70%">
                    <h4>Veuillez vous <a href="{{ path('app_login') }}" class="color-a">connectez</a> ou vous <a href="{{ path('app_registration') }}" class="color-a">enregistrez</a> pour mettre un commentaire</h4>
                </div>
            {% else %}
                <div class="mt-5" style="width: 50%">
                    <h4>Ajoutez un commentaire</h4>
                    {{ form(commentForm) }}
                </div>
            {% endif %}

            <div class="mt-5">
                <h3>Commentaire</h3>
                {% if comments is empty %}
                    <h4>Aucun commentaire actuellement écrit sur ce tableau.</h4>
                {% else %}
                    {% for comment in comments %}
                        <div class="card mt-4">
                            <div class="card-header">
                                <h4>Pseudo: {{ comment.user.username }}</h4>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>{{ comment.comment }}</p>
                                    <footer class="blockquote-footer text-start">Ajouté le {{ comment.createdAt|date('d/m/Y') }} à {{ comment.createdAt|date('H:m:i') }}</footer>
                                </blockquote>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if comments.getTotalItemCount > 3 %}
                    <div class="navigation mt-3">
                        {{ knp_pagination_render(comments) }}
                    </div>
                {% endif %}
            </div>

        </section>
    </main>
{% endblock %}
