{% extends 'base.html.twig' %}

{% block title %}Likes {{ parent() }}{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <div class="container">
        <h2 class="my-5 text-black-50">Likes</h2>
        <div class="row">
            {% for like in likes %}
            <div class="col-md-3 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        {% for role in like.user.roles %}
                            <h5>{{ role|replace({'ROLE_':' '})|capitalize }}</h5>
                        {% endfor %}
                    </div>
                    <img src="{{asset('img/avatar/'~like.user.imageName) | imagine_filter('painting_image')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('app_profile',{username:like.user.username}) }}" class="card-title">{{ like.user.firstName ~ ' ' ~ like.user.lastName }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}