{% extends 'admin/base.html.twig' %}

{% block title %}Inscription {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="display-4 my-4">Enregistrement Admin</h2>
                {{ form_start(registrationAdminForm) }}
                {{ form_widget(registrationAdminForm) }}
                <br>
                <button type="submit" class="btn btn-outline-secondary">Enregistrement</button>
                {{ form_end(registrationAdminForm) }}
            </div>
        </section>
    </div>



{% endblock %}