{% extends 'admin/base.html.twig' %}

{% block title %}Users{{ parent() }}{% endblock %}
{% block body %}
    <h4 class="my-5 text-muted">Gestion des utilisateurs</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Username</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><img src="{{ asset('img/avatar/') ~ user.imageName }}"  alt="{{ user.firstName }} {{ user.lastName }}" class="admin-img"></td>
                <td>{{ user.username }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_admin_user_view', {id:user.id}) }}" class="btn btn-light">
                        {% if user.isDisabled %}
                            <i class="icofont-eye-blocked"></i>
                        {% else %}
                            <i class="icofont-eye-open"></i>
                        {% endif %}
                    </a>
                    {# Gestion des rôles #}
                    {% for role in user.roles %}
                        {% if role == 'ROLE_USER'%}
                            <a href="" class="btn btn-success disabled" title="User">U</a>
                            <a href="{{ path('app_admin_user_promote', {id:user.id, role:"ROLE_ADMIN"}) }}" class="btn btn-outline-secondary">A</a>
                            <a href="{{ path('app_admin_user_promote', {id:user.id, role:"ROLE_SUPER_ADMIN"}) }}" class="btn btn-outline-secondary">SA</a>
                        {% elseif role == 'ROLE_ADMIN' %}
                            <a href="{{ path('app_admin_user_promote', {id:user.id, role:"ROLE_USER"}) }}" class="btn btn-outline-secondary">U</a>
                            <a href="" class="btn btn-success disabled" title="Admin">A</a>
                            <a href="{{ path('app_admin_user_promote', {id:user.id, role:"ROLE_SUPER_ADMIN"}) }}" class="btn btn-outline-secondary">SA</a>
                        {% else %}
                            <a href="{{ path('app_admin_user_promote', {id:user.id, role:"ROLE_USER"}) }}" class="btn btn-outline-secondary">U</a>
                            <a href="{{ path('app_admin_user_promote', {id:user.id, role:"ROLE_ADMIN"}) }}" class="btn btn-outline-secondary" title="Super Admin">A</a>
                            <a href="" class="btn btn-success disabled">SA</a>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
