<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} - Admin{% endblock %}</title>
    <link type="image/png" sizes="16x16" rel="icon" href="{{ asset('img/icon/icon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {# DataTable #}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" >
</head>
<body>
{% include 'admin/partials/header.html.twig' %}
{% include 'admin/partials/menu.html.twig' %}
{% block body %}{% endblock %}
{% include 'admin/partials/footer.html.twig' %}
{# JQuery #}
<script src="{{ asset('js/jquery.min.js') }}"></script>
{# Bootstrap #}
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{# DataTable #}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table-admin').DataTable(
            {
                "info": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            }
        );
    } );

    // Auto close bootstrap flash
    const alerts = document.querySelectorAll('[class*="alert-"]')
    for (const alert of alerts) {
        setTimeout( function() {
            const bootstrapAlert = bootstrap.Alert.getOrCreateInstance(alert);
            bootstrapAlert.close();
        }, 5000);
    }

    const t = document.querySelector('.btnIdReturn');
    t.addEventListener('click',function () {
        console.error('f')
    });


</script>
</body>
</html>
