{% extends 'base.html.twig' %}

{% block title %}Connexion {{parent() }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <h2 class="display-4 my-3">S'identifier</h2>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('app_login') }}" method="post">
                    <div class="form-group my-3">
                        <label for="email" class="form-label">Email:</label>
                        {% if (app.request.query.get("email") is defined) and (app.request.query.get("email") is not empty) %}
                            <input type="text" id="email" name="_username" class="form-control" value="{{ app.request.query.get("email") }}">
                        {% else %}
                            <input type="text" id="email" name="_username" class="form-control" value="{{ last_username }}">
                        {% endif %}
                    </div>
                    <div class="form-group my-3">
                        <label for="password" class="form-label">Password:</label>
                        {% if app.request.query.get("pwd") is defined and app.request.query.get("pwd") is not null %}
                        <input type="password" id="password" name="_password" class="form-control" value="{{ app.request.query.get("pwd") }}">
                        {% else %}
                        <input type="password" id="password" name="_password" class="form-control">
                        {% endif %}
                    </div>
                    <div class="form-group my-3">
                        <button type="submit" class="form-control btn btn-outline-secondary">login</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
