{% extends 'admin/base.html.twig' %}

{% block title %} Messagerie Detail {{ parent()}} {% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-2 mt-5">Sujet: {{ message.title }}</h2>
                <p>Message de {{ message.sender.email }}</p>
                <p>Le {{ message.createdAt|date('d/m/Y')~' à '~message.createdAt|date('H:i') }}</p>
                <p>{{ message.message }}</p>
                {% if message.readedAt is not null %}
                    <p><small>Lu le {{ message.readedAt|date('d/m/Y' ~ ' à ' ~ message.readedAt|date('H:m')) }}</small></p>
                {% endif %}
                <a href="{{path("app_admin_message")}}" class="btn btn-primary">Retour à la gestion de messagerie</a>
            </div>
        </div>
    </section>
{% endblock %}