{% extends 'admin/base.html.twig' %}

{% block title %} Messagerie {{ parent()}} {% endblock %}

{% block body %}
    <h4 class="my-5 text-muted">Gestion des messages</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th>Envoyeur</th>
            <th>Receveur</th>
            <th>Titre</th>
            <th>Date</th>
            <th>Lu</th>
            <th>DateLu</th>
            <th>Visible</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('app_profile',{username:message.sender.username}) }}" target="_blank">{{ message.sender.username }}</a></td>
                <td><a href="{{ path('app_profile',{username:message.recipient.username}) }}" target="_blank">{{ message.recipient.username }}</a></td>
                <td><a href="{{ path('app_admin_message_read',{id:message.id}) }}">{{ message.title}}</a></td>
                <td>{{ message.createdAt|date('d/m/Y')}}</td>
                {% if message.isRead == 1 %}
                    <td>Oui</td>
                    <td>{{ message.readedAt|date('d/m/Y H:m') }}</td>
                {% else %}
                    <td>Non</td>
                    <td>/</td>
                {% endif %}
                {% if message.isVisible == 1 %}
                    <td>Oui</td>
                {% else %}
                    <td>Non</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_admin_message_delete', {id:message.id}) }}" class="btn btn-danger"><i class="icofont-ui-delete"></i></a>&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}