{% extends 'admin/base.html.twig' %}

{% block title %} Messagerie Detail {{ parent()}} {% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Envoyer un message</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-end">
                    <button type="submit" class="btn btn-outline-secondary">Envoyer le message</button>
                </div>
                {{ form_end(form) }}
                <a class="btn btn-primary" href="{{ path('app_admin_message') }}" role="button">
                    Retour
                </a>
            </div>
        </div>
    </section>
{% endblock %}