<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a href="{{ path('app_message') }}" class="list-group-item list-group-item-action active">Accueil</a>
        </div>
        <div class="list-group">
            <a href="{{ path('app_message_received') }}" class="list-group-item list-group-item-action">Boîte de réception</a>
        </div>
        <div class="list-group">
            <a href="{{ path('app_message_sent') }}" class="list-group-item list-group-item-action">Messages envoyés</a>
        </div>
    </div>
</div>