{% extends 'base.html.twig' %}

{% block title %}Messagerie {{ parent() }}{% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Messagerie</h1>
                <p>Résumé de la messagerie</p>
                {% if messagesR is empty %}
                    <p>Reçus : 0</p>
                {% else %}
                    <p>Reçus : {{ messagesR|length }}</p>
                {% endif %}
                {% if messagesE is empty %}
                    <p>Envoyés : 0</p>
                {% else %}
                    <p>Envoyés : {{ messagesE|length }}</p>
                {% endif %}

                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Voir mes dossiers</a>
                <a href="{{ path("app_message_send") }}" class="btn btn-primary">Envoyer un message</a>
            </div>
        </div>
    </section>
    {% include 'messagerie/partials/menu.html.twig' %}
{% endblock %}