{% extends 'base.html.twig' %}

{% block title %}Messagerie {{ parent() }}{% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-2">Sujet: {{ message.title }}</h2>
                <p>Message de {{ message.sender.email }}</p>
                <p>Le {{ message.createdAt|date('d/m/Y')~' à '~message.createdAt|date('H:i') }}</p>
                <div>{{ message.message|raw }}</div>
                {% if message.readedAt is not null %}
                <p><small>Lu le {{ message.readedAt|date('d/m/Y' ~ ' à ' ~ message.readedAt|date('H:m')) }}</small></p>
                {% endif %}
                <div class="mt-5">
                    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Voir mes dossiers</a>
                    <a href="{{path("app_message_sent")}}" class="btn btn-primary">Retour à la boite d'envoie</a>
                    <a href="{{path("app_message_received")}}" class="btn btn-primary">Retour à la boite de réception</a>
                </div>

            </div>
        </div>
    </section>
    {% include 'messagerie/partials/menu.html.twig' %}
{% endblock %}