{% extends 'base.html.twig' %}

{% block title %}Messagerie {{ parent() }}{% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2>Boîte de réception</h2>
                <h5>Vous avez {{ messages|length }} messages</h5>
            </div>
            <div class="col-3">De</div>
            <div class="col-3">Sujet</div>
            <div class="col-3">Date</div>
            <div class="col-3">Actions</div>
            {% if messages is not empty %}
            {% for message in messages %}
                {% set bold = "unstrong" %}
                {% if message.isRead == 0 %}
                    {% set bold = "strong" %}
                {% endif %}

                <div class="col-3 {{bold}}">{{ message.sender.email }}</div>
                <div class="col-3 {{bold}}">
                    <a href="{{ path('app_message_read', {id:message.id}) }}">{{ message.title }}</a>
                </div>
                <div class="col-3 {{bold}}">{{ message.createdAt|date('d/m/Y') }}</div>
                <div class="col-3">
                    <a href="{{ path('app_message_delete', {id:message.id}) }}"><i class="icofont-trash text-danger"></i></a>
                </div>
            {% endfor %}
            {% else %}
                <div class="col-12 text-center">Vous n'avez pas reçu de message</div>
            {% endif %}


            <div class="col mt-4">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Voir mes dossiers</a>
                <a href="{{ path('app_message_send')}}" class="btn btn-primary">Envoyer un message</a>
            </div>
        </div>
    </section>
    {% include 'messagerie/partials/menu.html.twig' %}
{% endblock %}