{% extends 'base.html.twig' %}

{% block title %}Messagerie {{ parent() }}{% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Envoyer un message</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-end">
                    <button type="submit" class="btn btn-outline-secondary">Envoyer le message</button>
                </div>
                {{ form_end(form) }}
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Voir mes dossiers</a>
            </div>
        </div>
    </section>
    {% include 'messagerie/partials/menu.html.twig' %}
{% endblock %}
