{% extends 'base.html.twig' %}

{% block title %}Messagerie {{ parent() }}{% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            {% if messages|length == 0 %}
                <h1>Messagerie</h1>
                <p class="mt-3">Vous n'avez pas encore envoyé de message</p>
            {% else %}
            <div class="col-12">
                <h1>Messagerie</h1>
                <h3 class="mt-2">Messages envoyés</h3>
                <p class="mt-2">Vous avez envoyé {{ messages|length }} messages</p>
            </div>
            <div class="col-2">De</div>
            <div class="col-2">À</div>
            <div class="col-2">Sujet</div>
            <div class="col-2">Date</div>
            <div class="col-2">Lu</div>
            <div class="col-2">Actions</div>
            {% for message in messages %}
                {% set bold = "unstrong" %}
                {% set read = "Oui" %}
                {% if message.isRead == 0 %}
                    {% set bold = "strong" %}
                    {% set read = "Non" %}
                {% endif %}

                <div class="col-2 {{bold}}">Vous ({{ message.sender.email }})</div>
                <div class="col-2 {{bold}}">{{ message.recipient.email }}</div>
                <div class="col-2 {{bold}}">
                    <a href="{{ path("app_message_read", {id:message.id}) }}">{{ message.title }}</a>
                </div>
                <div class="col-2 {{bold}}">{{ message.createdAt|date('d/m/Y')~' à '~message.createdAt|date('H:i') }}</div>
                <div class="col-2 {{bold}}">{{ read }}</div>
                <div class="col-2">
                    <a href="{{ path("app_message_delete", {id:message.id}) }}"><i class="icofont-trash text-danger"></i></a>
                </div>
            {% endfor %}
            {% endif %}

            <div class="col mt-4">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Voir mes dossiers</a>
                <a href="{{path("app_message_send")}}" class="btn btn-primary">Envoyer un message</a>
            </div>
        </div>
    </section>
    {% include 'messagerie/partials/menu.html.twig' %}
{% endblock %}
