{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Commentaires{% endblock %}

{% block body %}
    <h4 class="my-5 text-muted">Gestions des commentaires</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th>Tableau</th>
            <th>Pseudo</th>
            <th>Commentaire</th>
            <th>Création</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path('detail', {slug:comment.painting.slug}) }}" class="text-decoration-none">{{ comment.painting.title|capitalize }}</a></td>
                <td>{{ comment.user.firstName|capitalize }} {{ comment.user.lastName|capitalize }}</td>
                <td>{{ comment.comment|capitalize }}</td>
                <td>{{ comment.createdAt|date('d/m/Y') }}</td>
                <td><a href="{{ path('app_admin_comment_delete', {id:comment.id}) }}" class="text-decoration-none btn btn-danger">
                        <i class="icofont-ui-delete"></i></a>
                    <a href="{{ path('app_admin_comment_view', {id:comment.id}) }}" class="text-decoration-none btn btn-light" >
                        {% if comment.isPublished %}
                            <i class="icofont-eye-open"></i>
                        {% else %}
                            <i class="icofont-eye-blocked"></i>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
