{% extends 'admin/base.html.twig' %}

{% block title %}Slider {{ parent() }}{% endblock %}

{% block body %}
    <h4 class="my-5 text-muted">Gestions des sliders</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for slider in sliders %}
            <tr>
                <td>{{ slider.id }}</td>
                <td><img src="{{ asset('img/slider/'~slider.imageName) | imagine_filter('slider_image') }}" alt="" class="img-fluid sliderAdminImg"></td>
                <td><a href="{{ path('app_admin_slider_delete', {id:slider.id}) }}" class="text-decoration-none btn btn-danger"><i class="icofont-ui-delete"></i></a>
                <a href="{{ path('app_admin_slider_view', {id:slider.id}) }}" class="text-decoration-none btn btn-light" >
                        {% if slider.isVisible %}
                            <i class="icofont-eye-open"></i>
                        {% else %}
                            <i class="icofont-eye-blocked"></i>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
