{% extends 'admin/base.html.twig' %}

{% block title %}Ajout slider {{ parent()}} {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h2 class="display-5 my-5">Ajouter un slider</h2>
            <div class="col-md-8">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-secondary">Ajouter un slider</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}