{% extends 'base.html.twig' %}

{% block title %}Commande {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

    {{ dump(invoices) }}
{#    {{ dump(invoices[0].user.username) }}#}
    {% for invoice in invoices %}
        <p>commande N° {{ invoice.id }}</p>
        <p>date de commande: {{ invoice.createdAt|date('d/m/Y H:m') }}</p>
        <p>commande:</p>
        {% for order in invoice.orders %}
            <p>{{ order.painting.title }}</p>
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}
