<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>PDF</title>
    <link rel="stylesheet" href="{{ asset('css/pdf.css') }}">
    <style>

        *:before,*,*:after {
            margin: 0;
            padding: 0;
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        a {
            color: #5D6975;
            text-decoration: underline;
        }

        body {
            position: relative;
            width: 21cm;
            height: 29.7cm;
            margin: 0 auto;
            color: #001028;
            background: #FFFFFF;
            font-size: 12px;
        }

        header {
            padding: 10px 0;
            margin-bottom: 30px;
        }

        #logo {
            text-align: center;
            margin-bottom: 10px;
        }

        #logo img {
            width: 90px;
        }

        h1 {
            border-top: 1px solid  #5D6975;
            border-bottom: 1px solid  #5D6975;
            color: #5D6975;
            font-size: 2.4em;
            line-height: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 0 0 20px 0;
        }

        #project {
            float: left;
        }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 52px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

        #company {
            float: right;
            text-align: right;
            margin-right: 2rem;
        }

        #project div,
        #company div {
            white-space: nowrap;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
        }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 5px 20px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
        }

        table .service,
        table .desc {
            text-align: left;
        }

        table td {
            padding: 20px;
            text-align: right;
        }

        table td.service,
        table td.desc {
            vertical-align: top;
        }

        td.service img {
            width: 130px;
            height: 130px;
        }

        table td.size {
            font-size: 1.2em;
            text-align: center;
        }

        table td.grand {
            border-top: 1px solid #5D6975;;
        }

        #notices .notice {
            color: #5D6975;
            font-size: 1.2em;
        }

        footer {
            color: #5D6975;
            width: 100%;
            height: 30px;
            position: absolute;
            bottom: 0;
            border-top: 1px solid #C1CED9;
            padding: 8px 0;
            text-align: center;
        }
    </style>
</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img src="{{ logo }}" alt="logo">
    </div>
    <h1>Facture N° {{ invoices.id }}</h1>
    <div id="company" class="clearfix">
        <div>GalleryV22022</div>
        <div>Rue de Namur,<br /> 5000 Namur, BE</div>
        <div>(32) 123 45 67 89</div>
        <div><a href="mailto:localhost@gallery.com">admin.gallery@gallery.com</a></div>
    </div>
    <div id="project">
        <div><span>Client</span> {{ invoices.user.firstName ~ ' ' ~ invoices.user.lastName }}</div>
        <div><span>Email</span> <a href="#">{{ invoices.user.email }}</a></div>
        <div><span>DateF</span> {{ invoices.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</div>
    </div>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th class="service">Peinture</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices.orders %}
        <tr>
            <td class="service"><img src="{{ invoice.painting.imageName }}" alt="peinture {{ invoice.painting.title }} logo"></td>
            <td class="size">{{ invoice.painting.title }}</td>
            <td class="size">{{ invoice.painting.author }}</td>
            <td class="size">{{ invoice.painting.price|number_format(2, ',' , ' ') }} €</td>
            <td class="size">{{ invoice.quantity }}</td>
            <td class="size">{{ invoice.painting.price|number_format(2, ',' , ' ') }} €</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" class="grand total">Grand Total</td>
            <td class="grand total">{{ total|number_format(2, ',' , ' ') }} € TVAC</td>
        </tr>
        </tbody>
    </table>
    <p>Les coordonnés utilisés dans cette facture sont purement fictifs.</p>
    <h3 style="text-align: center">&copy;GalleryV22022 2022</h3>
</main>
<footer>

</footer>
</body>
</html>
